@import '../variables';
@import '../mixins';

.layout {
  display: flex;
  background-color: var(--bg-color, $bg-main);
  min-height: 100vh;
  transition: background-color 0.3s ease;

  &[data-theme="mobile"] {
    background-color: var(--bg-color);
  }
}

.mainContent {
  flex-grow: 1;
  margin-left: $sidebar-width;
  color: var(--text-color, $text-primary);
}

@include for-tablet-portrait-up {
  .mainContent {
    margin-left: 0;
  }
}