.optionsContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 32px;
}

.option {
  position: relative;
  width: 100%;
  min-height: 60px;
  cursor: pointer;
  background-color: #f1f5f9;
  border-radius: 10px;
  padding: 18px 16px 18px 55px;
  display: flex;
  align-items: center;
}

.optionLetter {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #d9e6f2;
  color: #2c3e50;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}