.answerOptions {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.answerItem {
  position: relative;
  width: 100%;
  min-height: 60px;
  cursor: pointer;
  display: block;

  &__background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    transition: all 0.2s ease;

    &--default {
      background-color: #EDF2F4;
      opacity: 0.4;
    }

    &--selected {
      background-color: rgba(44, 62, 80, 0.1);
      border: 1px solid #2C3E50;
    }

    &--correct {
      background-color: rgba(26, 188, 156, 0.05);
      border: 2px solid #1ABC9C;
      opacity: 1;
    }

    &--incorrect {
      background-color: #F85050;
      opacity: 1;
    }
  }

  &__icon {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 16px;
    top: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__text {
  position: absolute;
  left: 55px;
    top: 18px;
    display: flex;
    align-items: center;
    right: 16px;
    font-size: 16px;
    line-height: 24px;

    .text--default {
      color: #2C3E50;
      font-weight: 400;
    }

    .underline {
      text-decoration: underline;
    }
    
    .bold {
      font-weight: 700;
    }
    
    .both {
      font-weight: 700;
      text-decoration: underline;
    }

    .text--correct {
      color: #1ABC9C;
      font-weight: 700;
    }

    .text--incorrect {
      color: #FFFFFF;
      font-weight: 500;
      
      .underline,
      .bold,
      .both {
        color: inherit;
      }
    }

    .bold {
      font-weight: 700;
    }
  }
}

/* circular checkbox */
.checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1.5px solid #2C3E50;
  box-sizing: border-box;
  padding: 3px;
  background-color: transparent;
  transition: border-color 0.3s ease;
}

.checkbox__dot {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #2C3E50;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.checkbox--checked .checkbox__dot {
  opacity: 1;
}

/* display dot on select */
.answerItem input[type='radio']:checked ~ .checkbox .checkbox__dot {
  opacity: 1;
}

/* Change checkbox colors based on answer state */
.answerItem__background--correct ~ .answerItem__icon .checkbox {
  border-color: #1ABC9C;
}

.answerItem__background--correct ~ .answerItem__icon .checkbox__dot {
  background-color: #1ABC9C;
  opacity: 0;
}

.answerItem__background--incorrect ~ .answerItem__icon .checkbox {
  border-color: #FFFFFF;
}

.answerItem__background--incorrect ~ .answerItem__icon .checkbox__dot {
  background-color: #FFFFFF;
}

/* visually hidden input for accessibility */
.visuallyHidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}