.sidebar {
  width: 97px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  padding-top: 2rem;
  border-right: 1px solid #e0e6ed;
}

.logo {
  width: 44px;
  margin-bottom: 4rem;
}

.mainNav {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.navIcon {
  width: 30px;
  height: 30px;
  border-radius: 9px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #899ef3 0%, #6980da 100%);

  img {
    width: 18px;
    height: 18px;
  }
}